.navbar{
    background-image: url(https://raw.githubusercontent.com/Zayd110/AT-S/main/AT%20%26%20S/UI%20UX/Purple%20Bliss.jpg);
}

.top{
    background-image: url(https://raw.githubusercontent.com/Zayd110/AT-S/main/AT%20%26%20S/UI%20UX/Purple%20Bliss.jpg);
    /* position: sticky; */
    top: 0;
}

.main-img{
    width: 350px;
}

.myform{
    width: 300px;
}   

.form-label{
    color: white;
}

/* doing the flexbox part here  */

.theflexcontainer{

    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;

    padding: 70px;
}

/* now some screen changes */

@media screen and (max-width: 480px) {
    .myform{
        width: 200px;
    }
    .main-img{
        width: 200px;
    }
}
